* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #4984B8;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.background {
    background-color: #ffff;
    width: 70vw;
    height: 100vh;
}

.container-profile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.image {
    width: 15vw;
    box-shadow: 1px 1px 2px lightgray;
    border-radius: 50%;
}

